<ng-container *ngIf="rates$ | async as rates">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h6>Currency Exchange Rates</h6>
      </mat-card-title>
      <div>
        <h6 *ngIf="lastUpdatedDate$ | async as date">
          Last Updated On
          <span class="updated-date">{{
            date | date : "EEEE, MMMM d, y, h:mm a"
          }}</span>
        </h6>
      </div>
      <!-- Select Menu for Base Currency -->
      <mat-form-field appearance="fill" class="currency-select">
        <mat-label>Select Base Currency</mat-label>
        <mat-select
          [value]="selectedCurrency"
          (selectionChange)="onBaseCurrencyChange($event.value)"
        >
          <mat-option
            *ngFor="let currency of baseCurrencyList"
            [value]="currency"
          >
            {{ currency }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="rates" class="mat-elevation-z8">
        <!-- Base Currency Column -->
        <ng-container matColumnDef="baseCurrency">
          <th mat-header-cell *matHeaderCellDef>Base Currency</th>
          <td mat-cell *matCellDef="let exchange">
            {{ exchange.baseCurrency }}
          </td>
        </ng-container>

        <!-- To Currency Column -->
        <ng-container matColumnDef="toCurrency">
          <th mat-header-cell *matHeaderCellDef>To Currency</th>
          <td mat-cell *matCellDef="let exchange">{{ exchange.toCurrency }}</td>
        </ng-container>

        <!-- Rate Column -->
        <ng-container matColumnDef="rate">
          <th mat-header-cell *matHeaderCellDef>Rate</th>
          <td mat-cell *matCellDef="let exchange">
            {{ exchange.rate | number : "1.2-2" }}
          </td>
        </ng-container>

        <!-- Percentage Column -->
        <ng-container matColumnDef="percentage">
          <th mat-header-cell *matHeaderCellDef>Percentage</th>
          <td mat-cell *matCellDef="let exchange">
            <span [ngStyle]="{ color: exchange.color }">
              {{ exchange.percentage | number : "1.5-5" }}%
            </span>
          </td>
        </ng-container>

        <!-- Table Header and Rows -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</ng-container>

<div *ngIf="!(rates$ | async)">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  <p>Loading rates...</p>
</div>
