.mat-mdc-card {
  margin: 25px 256px 10px;
  padding: 16px 16px 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.mat-mdc-card-header {
  background-color: #f0f0f0f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 16px 0;
  margin: 8px 16px;
  font-weight: 600;
  font-family: var(
    --mat-table-header-headline-font,
    var(--mat-app-title-small-font, Roboto, sans-serif)
  );

  h6 {
    font-size: 19px;
  }

  .updated-date {
    color: rgb(105, 6, 114);
    font-style: italic;
  }
}

table {
  width: 100%;
  box-shadow: none;
}

.mat-mdc-header-cell,
.mat-mdc-cell {
  text-align: center;
}

.mat-mdc-header-cell {
  font-size: 15px;
  font-weight: 500;
  color: rgb(29, 1, 153);
}

.mat-mdc-cell {
  font-size: 15px;
}
